/* 階段卡片階梯感 */
.stage-card {
    height: 100%;

    &.gold-stage {
        border-top: 4px solid var(--bs-yellow);

        &:hover {
            border-color: var(--bs-yellow);
        }
    }

    &.pink-stage {
        border-top: 4px solid var(--bs-pink);

        &:hover {
            border-color: var(--bs-pink);
        }
    }

    &.indigo-stage {
        border-top: 4px solid var(--bs-indigo);

        &:hover {
            border-color: var(--bs-indigo);
        }
    }
}