.table-dark-custom {
    --bs-table-bg: transparent;
    --bs-table-color: var(--uvaco-text-light);
    --bs-table-border-color: var(--uvaco-border-color);
    border-color: var(--uvaco-border-glow) !important;
    color: var(--uvaco-text-primary, #f8fafc) !important;

    thead th {
        background-color: var(--uvaco-bg-card) !important;
        color: var(--uvaco-secondary) !important;
        border-bottom: 2px solid var(--uvaco-border-color) !important;
        font-weight: 600;
        padding: 1rem;
        vertical-align: middle;
    }

    tbody tr {
        background-color: transparent !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
        transition: background-color 0.15s ease;

        td {
            background-color: transparent !important;
            vertical-align: middle;
            padding: 0.5rem;
            border-bottom: 1px solid  var(--uvaco-muted);
        }

        &:hover td {
            background-color: var(--uvaco-bg-card-hover) !important;
        }
    }
}