// ==========================================================================
// 1-abstracts/_theme-purple.scss
// 核心版系統 ( Ray & Jarvis 專用 )：尊榮紫色系深色主題 (Dark Imperial Purple)
// ==========================================================================

:root,
[data-bs-theme="dark-purple"] {
    // Ray & Jarvis 專屬系統語意化色彩 Token
    --uvaco-bg-primary: #12091f;         // 主背景 (深邃帝王紫底)
    --uvaco-bg-secondary: #190c2b;      // 次要區塊背景
    --uvaco-bg-card: #1e1035;         // 卡片容器底色
    //--uvaco-bg-card-hover: #1a3f33;         // 卡片容器底色（Hover 狀態）

    --uvaco-border-color: rgba(52, 211, 153, 0.2);  // 邊框線條

    --uvaco-text-primary: #faf5ff;       // 主文字 (極致淡紫白)
    --uvaco-text-secondary: #c084fc;        // 次要輔助文字
    --uvaco-text-muted: #a78bfa;      // 灰色說明文字

    --uvaco-primary: #a855f7;         // 主要色彩 (皇家紫)
    --uvaco-primary-hover: #9333ea;   // 主要色彩（Hover 狀態）
    //--uvaco-secondary: #34d399;       // 次要色彩 (薄荷綠 mint)
    --uvaco-accent: #fbbf24;          // 尊榮耀眼金 ( 專用於財務數字與庫存警示 )
    //--uvaco-dark: #062E1E;            // 深色色彩 (深草本綠 dark green)


    // Bootstrap 5 原生 CSS 變數雙向覆蓋 ( 無縫相容 BS5 原生元件 )
    --bs-body-bg: var(--uvaco-bg-primary);
    --bs-body-color: var(--uvaco-text-primary);
    
    --bs-card-bg: var(--uvaco-bg-card);
    --bs-card-border-color: var(--uvaco-border-color);

    --bs-border-color: var(--uvaco-border-color);
    
    --bs-tertiary-bg: var(--uvaco-bg-secondary);

    --bs-primary: var(--uvaco-primary);
    --bs-primary-rgb: 168, 85, 247;
}